__pycache__
.ipynb_checkpoints/*
debug.log
.vscode/*
.venv
Frankenstein/.ipynb_checkpoints/*
datasets/retro_sheet_gls/.ipynb_checkpoints/*
datasets/retro_sheet_pbp/.ipynb_checkpoints/*
debug.log
datasets/averages/.ipynb_checkpoints/*
datasets/cleaned_data/.ipynb_checkpoints/*
datasets/team_stats/.ipynb_checkpoints/*
datasets/games_by_teams/.ipynb_checkpoints/*
datasets/retro_sheet_pbp_new/.ipynb_checkpoints/*
datasets/starting_lineups/.ipynb_checkpoints/*
datasets/pitcher_stats/.ipynb_checkpoints/
env/